.container-body {
  margin-top: 60px;
  display: flex;
  gap: 50px;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

.round-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
