.container-projects {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-2-2 {
  display: grid;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.container-tarj- {
  background-color: var(--third-bg-color);
  border-radius: 10px;
  padding: 20px;
}
.container-tarj-:hover {
  box-shadow: 0px 0px 10px var(--primary-color);
  transition: 0.5s;
}
