.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fig-left {
  flex: 1;
}

.container-text-right {
  flex: 1;
  margin-left: 20px;
}

.round-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
